$color-1: #F6BB3B;
$color-2: #B42E2E;
$color-3: #1D4994;

.button-primary {
  min-width: 310px;
  height: 50px;
  background: #B42E2E;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 40px;
}



#content {
  min-height: 100px;
}

.ui.grid {
  padding: 0 !important;
}

.pushable.segment {
  margin: 0 !important;
}

.fp-tableCell {
  vertical-align: top !important;
  padding-top: 120px;
}

#section0 {
  background-image: url('../images/bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#front-header {
  z-index: 9999;
  position: sticky;
  top: 0;

  // .ui.grid>.row {
  //   padding: 0
  // }

  // .ui.grid>.column:not(.row) {
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }

  .front-menu {
    align-items: center;
  }

  .logo {
    width: 255px;
  }

  .top-menu,
  .bottom-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px;
    width: 100%;

    .menu-item {
      // font-family: Lato !important;
      color: #1D4994;
      padding: 5px 20px;
    }

    .menu-item.icon {
      padding: 0px;
    }

    .menu-item.active {
      background: $color-3;
      border-radius: 10px;
      color: #FFF;
    }
  }

  .top-menu {
    border-bottom: 1px solid $color-3;

    input {
      height: 30px;
    }
  }
}

#fullpage {
  .section {
    // padding: 120px 0px 0px;
  }

  // #section0 {
  //   z-index: -1;

  // }

  .dimmed {
    min-height: 100vh;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #DDDDDD !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: $color-2 !important;
}

#section0 {
  display: flex;
  align-items: center;

  .ui.container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  hr {
    border: none;
    width: 100px;
    border-top: 1px solid #FFFFFF;
    margin: 0 0 20px;
  }

  .content {
    max-width: 760px;
    // height: 380px;
    padding-bottom: 200px;

    .lg1 {
      width: 236px;
      vertical-align: -28px;
      margin-left: -25px;
    }


  }

  .navigation-container {
    position: absolute;
    bottom: 110px;
    left: 0px;
    right: 0;

    .navigation {
      max-width: 750px;
      height: 70px;
      margin: auto;
      border-radius: 10px;
      padding: 10px 0;
      background: #F6BB3B;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .nav-item {
        border-left: 1px solid #FFF;
        padding: 0px 20px;
        flex: 1;
        text-align: center;

        &:first-child {
          border-left: 0;
        }
      }

      .active {
        color: $color-2;
      }
    }
  }
}

#section1 {
  background-image: url('../images/bg-3.png');
  background-repeat: no-repeat;
  background-size: cover;

  .swiper-container {
    width: 100%;

    .column {
      padding: 0px;
      box-sizing: border-box;
    }

    .slide-content {
      background-color: $color-1;
      padding: 0 20px 0 40px;
    }

    .p1 {
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .p2 {
      margin-bottom: 30px;
    }

    .p3 {
      color: $color-3;
    }

    .slide-control {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
      width: 100%;

      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-size: 20px;
        color: #FFF;
      }

      .buttons {
        margin-left: 10px;
      }

      .swiper-pagination {
        width: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
      }

      .swiper-pagination-bullet {
        margin: 0px 10px;
      }
    }

    .swiper-slide {
      .ui.grid {
        margin: 0px;
      }
    }

  }
}

#section2 {
  background-image: url('../images/bg-4.png');
  background-repeat: no-repeat;
  background-size: cover;

  .lg2 {
    width: 236px;
    vertical-align: -28px;
    margin-left: -30px;
    margin-top: -20px;
  }

  .content-box {
    .content {
      background: $color-2;
      padding: 60px 20px;
    }
  }

  .blocks {
    padding: 0px 40px !important;

    .block {
      z-index: 99;
      position: relative;
      margin-bottom: 30px;

      .circle {
        width: 120px;
        height: 120px;
        background: $color-1;
        z-index: -1;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .swiper-slide {
    width: 120px !important;
    // padding: 0px 20px;

    img {
      width: 100%;
    }
  }

  .partners {
    background: $color-1;
    padding: 20px;

    .partners-swiper-container {
      margin: 0 55px !important;
      overflow: hidden;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      content: 'prev';
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 20px !important;
      color: #FFF !important;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: -8px !important;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: -8px !important;
    }
  }
}

#section3 {
  background-image: url('../images/bg-5.png');
  background-repeat: no-repeat;
  background-size: cover;

  .lg2 {
    width: 236px;
    vertical-align: -28px;
    margin-left: -30px;
    margin-top: -20px;
  }

  .s3-steps {
    background: $color-1;
    height: 400px;
  }

  .s3-step {
    position: relative;
    padding: 0;
    border-left: 1px solid #FFF;

    .title {
      display: flex;
      flex-direction: column;
      height: 100%;

      .p1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      .p2 {
        height: 63px;
        background: $color-2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-image: url('../images/slide-1.png');
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
      padding: 0 20px;
      text-align: center;
    }

    &:hover .overlay {
      bottom: 0;
      height: 100%;
    }
  }



}

#section4 {
  background-image: url('../images/bg-6.png');
  background-repeat: no-repeat;
  background-size: cover;

  .lg2 {
    width: 236px;
    vertical-align: -28px;
    margin-left: -30px;
    margin-top: -35px;
  }

  input,
  select {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0px;
    margin-top: -10px;
  }
}

#section5 {
  position: relative;

  .footer-container {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-bottom: 5px solid $color-2;
  }
}

.footer-container {
  background: $color-1;
  padding-bottom: 40px;

  .footer-logo {
    width: 250px;
  }
}

#front-content {
  margin-top: -120px;
}

#cover-intro {
  background-image: url('../images/bg-7.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}

#front-tabs {
  text-align: right;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 50px;

  .tabs-container {
    background: $color-1;
    border-radius: 10px;
    padding: 15px 0px;
    display: inline;

    .item {
      border-left: 1px solid #FFF;
      padding: 0 30px;

      &:first-child {
        border-left: 0;
      }
    }
  }
}

.section-img-finance {
  width: 255px;
  vertical-align: -12px;
  margin-left: 5px;

  img {
    width: 100%;
  }
}

.section-img-solar {
  width: 255px;
  vertical-align: -33px;
  margin-left: -29px;

  img {
    width: 100%;
  }
}

#section-2 {
  padding-bottom: 100px;

  .subtitle {
    max-width: 600px;
    margin: 0px auto 20px;
  }
}

.item-card {
  text-align: center;
  padding: 0px 50px !important;
  margin-bottom: 30px;

  &>div {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.3);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
  }



  img {
    width: 75px;

  }

  .title {
    margin-top: 20px;
  }

  .desc {
    margin-top: 20px;
  }
}

.no-border .item-card {
  &>div {
    box-shadow: none;
  }

  &:hover>div {
    box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.3);
    // border-radius: 10px;
  }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  #front-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .logo {
      width: 190px;
    }

    .ui.menu {
      box-shadow: 0 12px 19px 0 rgba(60, 128, 209, .09);
      border: 0;
      border-radius: 0;
      height: 60px;

      .item:before {
        content: unset;
      }
    }
  }

  #menu-push {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8888;
  }

  #section1 .swiper-container {

    .slide-content {
      height: 230px;
      padding: 0px 20px;
    }

    .p1 {
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .p2 {
      margin-bottom: 10px;
    }

    .slide-control {
      right: 0;
      top: 190px;

      .buttons {
        margin-left: 0px;
      }
    }
  }

  #section2 {
    padding-bottom: 40px;

    .lg2 {
      width: 135px;
      vertical-align: -17px;
      margin-left: -18px;
      margin-top: -10px;
    }

    .blocks {
      padding: 40px 20px !important;

      .block .circle {
        width: 60px;
        height: 60px;
      }
    }

    .partners .partners-swiper-container {
      margin: 0px !important;
    }
  }

  #section3 {
    padding-bottom: 40px;

    .lg2 {
      width: 135px;
      vertical-align: -17px;
      margin-left: -18px;
      margin-top: -10px;
    }

    .s3-steps {
      height: auto;
    }

    .s3-step {
      padding: 0 !important;
      border-bottom: 1px solid #FFF;
      height: 75px;

      .title {
        flex-direction: row-reverse;

        .p1 {
          width: 100%;
          align-items: center;
        }

        .p2 {
          width: 140px;
          height: 100%;
        }
      }

      .overlay {
        display: flex;
        flex-direction: row;
        padding-left: 0;

        .step-order {
          width: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0;
        }

        .step-content {
          width: 100%;

          &>div {
            margin-top: 0px;
            text-align: left;
          }
        }

      }

    }
  }

  #section4 {
    padding-bottom: 40px;

    .lg2 {
      width: 135px;
      vertical-align: -17px;
      margin-left: -18px;
      margin-top: -10px;
    }
  }

  #front-content {
    margin-top: 0;
  }

  #cover-intro {
    height: 300px;
    justify-content: center;
  }
}

@media only screen and (max-width: 340px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
  #front-header {
    height: 120px;

    .menu-item.ui.input {
      display: none;
    }
  }

  #fullpage {
    margin-top: -106px;
  }

  #section1 {
    .swiper-container {
      height: 500px;
      margin-top: 60px;
    }

  }

}

@media only screen and (min-width: 1200px) {
  #front-header {
    .menu-item.ui.input {
      display: block;
    }
  }
}